.header{
	position: absolute;
	z-index: 999999;
	width: 100%;
	height: 40px;
	background: #333;
}
.header a{
	float: right;
	color: rgb(224, 224, 224) !important;
	text-align: right;
	vertical-align: middle;
	padding-top: 10px;
	margin-right: 20px;
	height: 40px;
}
.header p{
	float: left;
	padding-top: 10px;
	margin-left: 20px;
	height: 40px;
	color: rgb(224, 224, 224) !important;
	text-align: right;
}
.header a:hover{
	text-decoration: none;
}
.container{
	position: relative;
	width: 100%;
	height: 100%;
	padding-top: 60px;
}

.container #home{
	width: 600px;
	height: 400px;
	position: absolute;
	top:50%;
	left: 50%;
	margin-left: -300px;
	margin-top: -200px;
	background: url('../img/bg-home.jpg');
	background-size: cover;
	border: 5px solid #333;
	border-radius: 50px;
}

.container #text-home{
	text-align: center;
	position: absolute;
	width: 200px; 
	bottom: 10px;
	left: 50%;
	margin-left: -100px;
	font-style: italic;
}

.container #harem{
	position: absolute;
	z-index: 1000;
	top:100px;
	left:0;
	margin-left: 20px;
}

.container #sante{
	position: absolute;
	z-index: 1000;
	top:300px;
	left:0;
	margin-left: 20px;
}

.container #etudes{
	position: absolute;
	z-index: 1000;
	top:100px;
	right:0;
	margin-right: 20px;
}

.container #attaques{
	position: absolute;
	z-index: 1000;
	top:300px;
	right:0;
	margin-right: 20px;
}

.container .personnage_description{
	width: 145px;
}

.container .personnage_description h3{
	text-align: center;
}

.container .personnage_description p{
	text-align: center;
}

.container .personnage_description .column{
	width: 50px;
	height: auto;
	display: inline-block;
	margin: 10px;
}

.container .personnage_description .column img{
	margin: auto;
	width: 50px;
	height: 50px;
}

.container .personnage_description .column p{
	text-align: center;
}

.container .gamecontent{
	position: absolute;
	z-index: 1100;
	top: 150px;
	left: 50%;
	margin-left: -300px;
	width: 600px;
	height: 400px;
}

.container .gamecontent .game_header{
	position: relative;
	margin: 20px auto;
}

.container .gamecontent .game_content{
	position: relative;
	margin: 30px auto;
}

.container .gamecontent .game_content img{
	width: 100px;
	height: 100px;
	margin: auto;
	margin-bottom: 10px;
	border:2px solid #333;
	border-radius:50%;
}

.container .gamecontent .game_success{
	position: relative;
	margin-top: 20px;
}

.container .gamecontent .game_recompense{
	border-top : 2px dashed rgba(0,0,0,0.15);
	padding-top: 2px;
}

.container .gamecontent .game_recompense p{
 	text-align: center;
 	font-size: 11px;
 	font-style: italic;
}

.container .gamecontent .myHarem{
	  margin: auto;
	  margin-top: 90px;
}

.container .gamecontent .myHarem .column{
	  width: 30%;
	  margin: 0;
	  display: inline-block;
}

.container .gamecontent .myRecompenses{
	  margin: auto;
	  margin-top: 40px;
	  padding-left: 20px;
}

.container .gamecontent .myRecompenses .column{
	  width: 100%;
	  margin: 0;
	  display: inline-block;
}

.container .gamecontent .myRecompenses .column img{
	  display: inline-block;
	  float: left;
	  margin-right: 5px;
}

.container .gamecontent .myRecompenses .column p{
	  padding-top: 1px;
	  text-align: left;
}

.container .gamecontent .myClassement{
	  margin: auto;
	  margin-top: 40px;
	  padding-left: 20px;
}

.container .gamecontent .myClassement .people{
	  width: 100%;
	  margin: 10px auto;
}

.container .gamecontent .myClassement .people#menu{
	  border-bottom: 1px solid #333;
}
.container .gamecontent .myClassement .people#menu li{
	  text-transform: uppercase;
}


.container .gamecontent .myClassement .people li{
	  display: inline-block;
	  text-align: center;
	  width: 120px;
	  text-transform: capitalize;
}

.container #gamecontent{
	background: #fff;
	border: 2px solid #333;
	border-radius: 20px;
	padding: 10px;
	text-align: center;
}

.container .nav{
	position: absolute;
    z-index: 9999;
    top: 560px;
    width: 500px;
    left: 50%;
    margin-left: -250px;
}

.container .nav ul{
	list-style: inherit;	
}

.container .nav ul li{
	cursor: pointer;
	list-style: inherit;
	display: inline-block;
	margin: 0 10px;	
}

#avancement {
    width: 50px;
}